
fieldset{
    padding-left: 40px;
    border: none;
    border-radius: 50px;
    box-shadow: 3px 3px 3px 3px blue;
    margin-bottom: 20px;
}

label{
    width: 200px;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}
textarea{
    margin-top: 10px;
    transition: all 0.3s ease 0.1s ;
}

textarea:focus{
    background-color:whitesmoke;
    box-shadow: 10px 5px 5px black;
}

input[type="text"], input[type="email"], input[type="number"], input[type="tel"],input[type="password"]{
    width: 150px;
    height: 20px;
    transition: all 0.3s ease 0.1s ;

}

input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="tel"]:focus,input[type="password"]:focus{
    height: 23px;
    width: 153px;
    background-color:whitesmoke;
    box-shadow: 10px 5px 5px black;
}

input[type="submit"],input[type="reset"]{
    width: 80px;
    height: 25px;
    margin-right: 4px;
}
#vill{
    display: inline-block;
    margin-left: 180px;
}
div input[type="button"]{
    width: 80px;
    margin-right: 10px;
}

h4{
    display: inline-block;
}

#send{
    margin-right: 20px;
    float:left;
}
#subres{
    text-align: center;
}