body{
    background-color: rgb(255, 252, 176);
    font-family: 'Poppins', sans-serif;
    position: relative;

}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 720px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}
}
a {
    text-align: center;
    margin-top: 4px;
    display: inline-block;
    width: 50%;
    padding: 5px;
    margin-left: 25%;
    background: #242526;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    list-style: none;
    font-size: 95%;
    color: #f2f2f2;
    text-decoration: none;
  }
